.main {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    background: var(--color-gradient-adv);
}

.overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    padding: 0 20px;
}

.image {
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 20px;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: min(50%, 169px);
}

.text_content {
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
    text-align: start;
    color: var(--color-white);
}
