.main {
    padding: 14px 54px;
    box-sizing: border-box;
    border-radius: 23px;
    font-family: Inter, sans-serif;
    font-size: var(--font-button-medium-size);
    font-weight: 700;
    outline: none;
    border: 1px solid var(--color-white-30-opacity);
}