.button {
    width: 100%;
    height: 100%;
    background-color: var(--color-card-button);
    border-radius: 12px;
    border: 1px solid var(--color-card-button-border);
    color: var(--color-blue-second);
    outline: none;
    box-sizing: border-box;
    padding: 5px 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: var(--font-button-medium-small-size);
    font-family: Inter, sans-serif;
}
