
.main {
    width: 100%;
    padding: 0 0;
    box-sizing: border-box;
}

.embla__slide {
    flex: 0 0 100%; /* ширина слайда */
    user-select: none;
    padding: 0 3px;
    box-sizing: border-box;
}

.embla {
    overflow: hidden;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
}

.embla__container {
    display: flex;
    height: 100%;
}