.main {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100vw;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 600px;
    padding: 10px 0;
    gap: 10px;
    box-sizing: border-box;

}