.main {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 150px var(--clamp-padding-horizontal-max-1000) calc(100vh - 20vw);
    box-sizing: border-box;
    z-index: 1;
    gap: 80px;
    align-items: center;
}

.overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.color_overlay {
    background: var(--color-overlay-gradient);
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.image {
    width: 100%;
    height: 100%;
    user-select: none;
    object-fit: cover;
}

.location {
    padding: 4px 12px;
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-white-30-opacity);
    border-radius: 13px;
    box-sizing: border-box;
}

.title {
    font-family: Inter, sans-serif;
    font-size: var(--font-title-big-size);
    font-weight: bold;
    line-height: var(--font-title-big-size);
    color: var(--color-white);
    text-align: center;
    margin: 0;
}

.description {
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
    color: var(--color-white-85-opacity);
    margin: 0 40px;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 9px;
    margin-top: 63px;
}

@media (max-width: 744px) {

    .description {
        font-family: Inter, sans-serif;
        font-size: var(--font-description-medium-size);
        color: var(--color-white-85-opacity);
        margin: 0;
        text-align: center;
    }

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 150px 20px calc(100vh - 20vw);
        box-sizing: border-box;
        z-index: 1;
        gap: 80px;
        align-items: center;
    }

    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}