.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

.column {
    border-top: 1px solid var(--color-white);
    background: var(--color-overlay-white-gradient);
    flex: 1;
}

.column_80_percent {
    height: 80%;
}

.column_60_percent {
    height: 60%;
}

.column_45_percent {
    height: 45%;
}

.column_30_percent {
    height: 30%;
}

.column_17_percent {
    height: 17%;
}