.main {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 150px var(--clamp-padding-horizontal-max-250);
    box-sizing: border-box;
    flex-direction: column;
    gap: 50px;
}

.header_slide {
    gap: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.title {
    font-family: Inter, sans-serif;
    font-size: var(--font-title-big-size);
    font-weight: bold;
    color: var(--color-blue);
    line-height: var(--font-title-big-size);
    margin: 0;
    letter-spacing: -3px;
    text-align: center;
    width: 100%;
}

.hint {
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
    font-weight: 400;
    gap: 20px;
    color: var(--color-blue);
    line-height: var(--font-description-medium-size);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    text-align: start;
}

.image {
    width: 24px;
    height: 24px;
}

.hint_text {
    margin: 0;
    width: 55%;
}

.items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.item_column {
    grid-column: 2 span;
    flex-direction: column;
}

.item_row {
    grid-column: 3 span;
    flex-direction: row;
}

@media (max-width: 900px) {

    .main {
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: start;
        align-items: start;
        padding: 150px 20px;
        box-sizing: border-box;
        flex-direction: column;
        gap: 50px;
    }

    .items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .item_row {
        grid-column: 4 span;
        flex-direction: row;
    }

}

@media (max-width: 500px) {
    .items {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .item_column {
        width: 100%;
        grid-column: none;
        flex-direction: column;
    }

    .item_row {
        width: 100%;
        grid-column: none;
        flex-direction: column;
    }

}
