item-card {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
    gap: 10px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-image: url("../../../../assets/png/bg_card.png");
    background-repeat: no-repeat;
    background-position: center;
}

hint-text {
    font-family: Inter, sans-serif;
    font-size: var(--font-hint-description-small-size);
    text-align: start;
    color: var(--color-white);
    opacity: 0.5;
}

summary-card {
    font-family: Inter, sans-serif;
    font-size: var(--font-price-medium-size);
    text-align: start;
    font-weight: bold;
    color: var(--color-white);
}
