.main {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 150px 250px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 50px;
}

.header_slide {
    gap: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.title {
    font-family: Inter, sans-serif;
    font-size: var(--font-title-big-size);
    font-weight: bold;
    color: var(--color-blue);
    line-height: var(--font-title-big-size);
    margin: 0;
    letter-spacing: -3px;
    text-align: start;
}

.hint {
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
    font-weight: 400;
    gap: 20px;
    color: var(--color-blue);
    line-height: var(--font-description-medium-size);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    text-align: start;
}

.image {
    width: 24px;
    height: 24px;
}

.hint_text {
    margin: 0;
    width: 55%;
}

.problems {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.problem {
    grid-column: 5 span;
    height: 480px;
}

.space_problem {
    grid-column: 2 span;
}
