.main {
    width: 100vw;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 50px 250px;
    box-sizing: border-box;
    flex-direction: row;
    gap: 50px;
    overflow: hidden;
}

.text_overlay {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: var(--font-hint-title-big-size);
    color: transparent;
    white-space: nowrap;
    -webkit-text-stroke: 1px var(--color-blue);
    letter-spacing: -5px;
    z-index: 0;
}

.overlay_mask {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: var(--color-white-transparent-gradient);
    width: 100%;
    height: 100px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 400px;
    justify-content: start;
    align-items: start;
    color: var(--color-blue);
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
}

.widget {
    box-sizing: border-box;
    border-radius: 6px;
    padding: 20px 30px;
    border: 1px solid var(--color-blue-50-opacity);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item_gap_little {
    gap: 30px;
}

.text_bold {
    margin: 0;
    font-weight: bold;
}

.text_regular {
    margin: 0;
}

.input_wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 10px;
    border-radius: 50px;
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
    background-color: var(--color-blue-15-opacity);
    box-sizing: border-box;
    border: 1px solid var(--color-blue-21-opacity);
}

.input {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color-blue);
}

.input::placeholder {
    color: var(--color-blue-80-opacity);
}

.button {
    outline: none;
    border: none;
    background-color: var(--color-blue);
    border-radius: 15px;
    padding: 4px 15px;
}
