.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    background-color: var(--color-card-button-second);
    border-radius: 12px;
    max-height: 600px;
    overflow-y: auto;
    scrollbar-width: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.history {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.history_row {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

hr {
    height: 2px;
    background-color: var(--color-card-button-border);
    margin: 0 0 0 38px;
    border: none;
}

.title {
    font-family: Inter, sans-serif;
    font-size: var(--font-title-small-size);
    font-weight: bold;
    color: var(--color-black);
}

.hint {
    font-family: Inter, sans-serif;
    font-size: var(--font-button-medium-small-size);
    color: var(--color-gray);
}

.day {
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
    color: var(--color-gray-second);
}

