.main {
    width: 100%;
    height: 144px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 30px;
}

@media (max-width: 459px) {

    .main {
        width: 100%;
        height: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-bottom: 30px;
    }

}