.modal {
  font-family: 'Jet Brains Mono', sans-serif;
  width: min(580px, 100vw - 20px);
  box-sizing: border-box;
  padding: 20px 20px;
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  border-radius: 12px;
  background-color: var(--color-white);
  gap: 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.title_link {
  font-family: Inter, sans-serif;
  font-size: var(--font-title-link-size);
  font-weight: bold;
  color: var(--color-black)
}