.section {
    height: 170px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    box-sizing: border-box;
    scrollbar-width: none;
}

@media (max-width: 459px) {

    .section {
        height: 220px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        overflow-x: hidden;
        overflow-y: hidden;
        gap: 10px;
        box-sizing: border-box;
        scrollbar-width: none;
    }

}