.main {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.image {
    display: flex;
    justify-content: start;
    box-shadow: 0 10px 10px var(--color-black-25-opacity);
    border-radius: 8px;
}

.bold_text {
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
    color: var(--color-blue);
    font-weight: bold;
}

.text {
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
    color: var(--color-blue-80-opacity);
    text-align: start;
    width: 100%;
}

