transfer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

field-input-money {
    display: flex;
    gap: 10px;
    width: 100%;
    aspect-ratio: 2/1;
    justify-content: center;
    align-items: center;

}

.currency {
    font-size: var(--font-currence-big);
    font-family: Inter, sans-serif;
    color: var(--color-black);
}

.summary {
    border: none;
    outline: none;
    width: 1ch;
    max-width: calc(100% - 100px);
    color: var(--color-black);
    font-size: var(--font-currence-big);
    font-family: Inter, sans-serif;
    text-align: center;
    background: none;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

transfer-by {
    width: 100%;
    height: 50px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: var(--font-button-medium-small-size);
    font-family: Inter, sans-serif;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 12px;
    border: none;
    outline: none;
}