.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid var(--color-card-button-border);
    color: var(--color-blue-second);
    border-radius: 60px;
}

.text_name {
    font-family: Inter, sans-serif;
    font-size: var(--font-button-medium-size);
    white-space: nowrap;
}

.active {
    background-color: var(--color-blue-second-15-opacity);
    border: 1px solid var(--color-blue-second-35-opacity);
}