@import "./styles/colors.css";
@import "./styles/fonts.css";
@import "./styles/clamp.css";

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--color-blue);
}

.body-inner {
  background: var(--color-white);
}