.list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;

}

.button_add_account {
    height: 100%;
    width: 154px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-gray);
    box-sizing: border-box;
    padding: 16px 11px;
    border-radius: 12px;
    background-color: var(--color-card-button-second);
    font-size: var(--font-button-medium-small-size);
    font-family: Inter, sans-serif;
}