.main {
    display: flex;
    justify-content: start;
    align-items: start;
    border-radius: 6px;
    border: 1px solid var(--color-blue-50-opacity);
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px 20px 0;
    box-sizing: border-box;
    gap: 20px;
}

.image {
    max-height: 270px;
    object-fit: cover;
    overflow: hidden;
}

.bold_text {
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
    color: var(--color-blue);
    font-weight: bold;
}

.title {
    font-family: Inter, sans-serif;
    font-size: var(--font-title-small-size);
    font-weight: bold;
    color: var(--color-blue);
}

.text {
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
    color: var(--color-blue-80-opacity);
    text-align: start;
    text-overflow: ellipsis;
    width: 100%;
    -webkit-line-clamp: 2; /* Количество отображаемых строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.more {
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
    font-weight: bold;
    color: var(--color-blue);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.image_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.image {
    height: 80%;
    object-fit: cover;
}

