.main {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 250px;
    box-sizing: border-box;
    z-index: 1;
}

.overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.color_overlay {
    background: var(--color-overlay-gradient);
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
}

.image {
    width: 100%;
    height: 100%;
    user-select: none;
    object-fit: cover;
}

.location {
    padding: 4px 12px;
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-white-30-opacity);
    border-radius: 13px;
    box-sizing: border-box;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
    width: 60%;
    gap: 20px;
}

.title {
    font-family: Inter, sans-serif;
    font-size: var(--font-title-big-size);
    font-weight: bold;
    line-height: var(--font-title-big-size);
    color: var(--color-white);
    margin: 0;
}

.description {
    font-family: Inter, sans-serif;
    font-size: var(--font-description-medium-size);
    width: 66%;
    color: var(--color-white-85-opacity);
    margin-top: 16px;
    margin-bottom: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 9px;
    margin-top: 63px;
}